@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter Tight', system-ui, -apple-system, sans-serif;
  --font-unbounded: 'Unbounded', system-ui, sans-serif;
}

* {
  font-family: 'Inter Tight', system-ui, -apple-system, sans-serif;
}

.font-unbounded {
  font-family: 'Unbounded', system-ui, sans-serif;
}
